<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Simplenews" lan="LAN_PLUGIN_SIMPLENEWS_NAME" version="1.0" date="2017-10-29" compatibility="2.0" installRequired="true">
	<author name="Lóna Lore" url="https://github.com/lonalore/simplenews"/>
	<summary lan="LAN_PLUGIN_SIMPLENEWS_SUMM">Simplenews publishes and sends newsletters to lists of subscribers.</summary>
	<description lan="LAN_PLUGIN_SIMPLENEWS_DESC">Simplenews publishes and sends newsletters to lists of subscribers. Both anonymous and authenticated users can opt-in to different mailing lists.</description>
	<keywords>
		<word>newsletter</word>
	</keywords>
	<category>tools</category>
	<copyright>GNU General Public License</copyright>
	<adminLinks>
		<link url='admin_config.php' description='LAN_CONFIGURE' icon='images/simplenews_32.png' iconSmall='images/simplenews_16.png' icon128='images/simplenews_128.png' primary='true'>LAN_CONFIGURE</link>
	</adminLinks>
	<dependencies>
		<plugin name='batch' min_version='1.0' />
	</dependencies>
</e107Plugin>
